.header{
    margin-top: 40px;
    font-size: 30px;
    color: #fff;
    font-family: 'Poppins', sans-serif; 
}
.header > p{
    margin: 0px;
    margin-top: -10px;
    font-size: 12px;
    letter-spacing: 5px;
}